/* Colours */
:root {
  --accent: #14213d;
  --background: #fff;
}

/* Navbar */
nav {
  background-color: var(--accent);
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* opacity: 0.5; */
}

nav a,
nav * a {
  text-decoration: none;
  color: #fff;
}

nav * a:hover {
  color: grey;
}

nav ul * {
  display: inline;
  padding-left: 20px;
}

/* Main Content */
main {
  /* Alignment */
  align-items: center;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  width: 100vw;
  padding-top: 60px;

  /* Placement */
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;

  /* Design */
  background-color: var(--background);
}

/* Home Page */
#home-page {
  display: flex;
  flex-direction: column;
}

#home-page a {
  color: black;
  text-decoration: none;
}

#home-page a:hover {
  color: grey;
}

/* About Page */
#about-page {
  /* Alignment */
  flex-direction: column;
  justify-content: end;
}

#heading {
  /* Alignment */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px - 575px);
  justify-content: center;
  width: 100%;

  /* Design */
  /* background-color: pink; */
}

#sections {
  /* Alignment */
  display: flex;
  flex-direction: row;
  height: 575px;
  justify-content: space-around;
  width: 100%;

  /* Design */
  background-color: var(--accent);
  /* opacity: 0.5; */
}

#sections > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-circle {
  border-radius: 50%;
  background-color: #1f3460;
  width: 200px;
  height: 200px;
}

#sections > * {
  color: #fff;
}

/* Contact Page */
#contact-page,
#contact-page form {
  display: flex;
  flex-direction: column;
}

#contact-form * {
  margin: 10px 0;
}
