/* Navbar */
nav {
  background-color: aqua;
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav a,
nav * a {
  text-decoration: none;
  color: black;
}

nav * a:hover {
  color: grey;
}

nav ul * {
  display: inline;
  padding-left: 20px;
}

/* Main Content */
main {
  /* Alignment */
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  /* Placement */
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;

  /* Design */
  background-color: blueviolet;
}

/* About Page */
#about-page {
  padding: 0 20vw;
  width: 60vw;
}

#about-left {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
}

#about-right img {
  border: 5px solid black;
  border-radius: 50%;
}

/* Contact Page */
#contact-page,
#contact-page form {
  display: flex;
  flex-direction: column;
}

#contact-form * {
  margin: 10px 0;
}