nav {
  background-color: aqua;
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav a,
nav * a {
  text-decoration: none;
  color: black;
}

nav * a:hover {
  color: grey;
}

nav ul * {
  display: inline;
  padding-left: 20px;
}